# Junção dos Fields

### IMPORTS

In [15]:
import pandas as pd
import numpy as np
import os

### Datasets dos Fields e Soil

In [16]:
field_dict = {}
for csv in os.listdir(path='./Data_fields/'):
    if csv[:5] == "field":
        if csv[7] == '.':
            field_dict[csv[6]] = pd.read_csv(filepath_or_buffer=f'./Data_fields/{csv}')
        else:
            field_dict[csv[6:8]] = pd.read_csv(filepath_or_buffer=f'./Data_fields/{csv}')
    else:
        soil = pd.read_csv(filepath_or_buffer=f'Data_fields/{csv}')

In [17]:
for i in range(soil.shape[0]):
    field_dict[str(i)] = pd.concat([soil.loc[i].to_frame().transpose(), field_dict[str(i)]], axis=0)

In [18]:
for data in range(soil.shape[0]):
        for column in field_dict[str(data)].columns.to_list():
                field_dict[str(data)].fillna(
                        {column:field_dict[str(data)][column].value_counts().axes[0][0]},
                        inplace=True
                )

In [19]:
field_dict[str(6)].where(field_dict["6"]["year"] == float(2002))[["month", "year"]]

     month    year
6      1.0  2002.0
0      1.0  2002.0
1      2.0  2002.0
2      3.0  2002.0
3      4.0  2002.0
..     ...     ...
187    NaN     NaN
188    NaN     NaN
189    NaN     NaN
190    NaN     NaN
191    NaN     NaN

[193 rows x 2 columns]

In [20]:
field_dict["5"].loc[field_dict["5"]["year"] == 2017] #, ["month", "year"]

,field,BDRICM_BDRICM_M,BDRLOG_BDRLOG_M,BDTICM_BDTICM_M,BLDFIE_sl1,BLDFIE_sl2,BLDFIE_sl3,BLDFIE_sl4,BLDFIE_sl5,BLDFIE_sl6,...,month,year,temperature,dewpoint,windspeed,Soilwater_L1,Soilwater_L2,Soilwater_L3,Soilwater_L4,Precipitation
180,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,1.0,2017.0,26.200,24.390,2.1213,0.34251,0.34003,0.33106,0.29658,564.480
181,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,2.0,2017.0,26.121,24.287,2.0200,0.35012,0.34905,0.34691,0.34179,562.970
182,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,3.0,2017.0,26.183,24.437,1.9480,0.35170,0.35129,0.35158,0.35198,563.460
183,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,4.0,2017.0,26.788,24.824,2.0501,0.35349,0.35298,0.35309,0.35450,354.550
184,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,5.0,2017.0,27.413,24.916,2.0539,0.33903,0.33871,0.34019,0.34887,274.060
185,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,6.0,2017.0,27.572,24.723,1.9355,0.33520,0.33447,0.33374,0.33465,149.560
186,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,7.0,2017.0,27.541,23.418,1.9024,0.31747,0.31829,0.32377,0.33572,58.469
187,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,8.0,2017.0,28.502,23.580,2.0800,0.27522,0.27681,0.28822,0.30790,151.720
188,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,9.0,2017.0,28.604,23.572,2.3288,0.27126,0.26966,0.27516,0.28974,92.301
189,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,10.0,2017.0,28.660,23.361,2.6919,0.25575,0.25560,0.26679,0.27781,196.660
190,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,11.0,2017.0,29.085,22.716,2.5717,0.24774,0.25107,0.26641,0.26837,21.461
191,6.0,200.0,11.0,6991.0,1332.0,1324.0,1368.0,1422.0,1484.0,1501.0,...,12.0,2017.0,27.948,23.375,2.4586,0.27571,0.27420,0.27366,0.26308,284.040

### Datasets dos Fields e Soil com o Data train

In [33]:
train = pd.read_csv('Data/train.csv')
train.head()

   Id  field  age  type  harvest_year  harvest_month  production
0   0      0   19     5          2004              1    0.064071
1   1      0   19     5          2004              2    0.047658
2   2      0   19     5          2004              3    0.016866
3   3      0   19     5          2004              4    0.025525
4   4      0   19     5          2004              5    0.047690

In [29]:
train.shape

(5243, 7)

In [27]:
test = pd.read_csv('Data/test.csv')
test.head()

     Id  field  age  type  harvest_year  harvest_month
0  5243      0   27     5          2012              1
1  5244      0   27     5          2012              2
2  5245      0   27     5          2012              3
3  5246      0   27     5          2012              4
4  5247      0   27     5          2012              5

In [30]:
test.shape

(4110, 6)

In [ ]:
for data_concat in train:
    if csv